/* custom fonts */
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/888/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('/888/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WeLovePeace';
  src: url('/888/fonts/We Love Peace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* screen */
html, body {
  height: 100%;
}
body {
  font-family: 'AlteHaasGrotesk';
}
.app {
  text-align: center;
  width: 20rem;
}
.logo {
  width: 50%;
}
.logo-sub {
  color: #34cccb;
  font-weight: bold;
}
.links img {
  height: 16px;
}
.char {
  width: 35%;
  margin: 20px 0px;
}
.desc {
  font-size: 12px;
}
.button {
  text-align: left;
  margin: 7px auto 0px;
  font-weight: bold;
  height: 45px;
  width: 210px;
  padding-top: 5px;
  cursor: pointer;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.button.disabled {
  opacity: 0.5;
}
.button img {
  width: 35px;
  margin: 0px 13px;
}
.btn-white {
  color: #34cccb;
  background-image: url('/888/assets/button white.svg');
}
.btn-black {
  color: #34cccb;
  background-image: url('/888/assets/button black.svg');
}
.btn-green {
  color: #ffffff;
  background-image: url('/888/assets/button green.svg');
}
#bridge {
  font-size: 13px;
}
#claim {
  text-align: center;
  padding-top: 10px;
}
#claiming {
  cursor: auto;
}
#balance {
  color: #34cccb;
  font-size: 12px;
  margin-top: 7px;
}
#disconnect {
  font-size: 13px;
  text-align: center;
  padding-top: 12px;
}

/* dialog */
.modal-content {
  border: 1px solid #34cccb;
}
.modal-header {
  border: none;
  padding-bottom: 0px;
  align-items: start;
}
.modal-header h5 {
  font-size: 18px;
  font-weight: bold;
  width: 95%;
  text-align: center;
}
.modal-header h5 img {
  height: 50px;
}
.modal-footer {
  justify-content: center;
  border: none;
  padding-top: 5px;
}
.modal-footer a img {
  height: 45px;
  cursor: pointer;
}

/* screen: woohoo */
.woohoo {
  cursor: pointer;
  text-align: center;
  width: 100%;
}
#tissue {
  width: 150px;
}
#tissue_bubble {
  width: 220px;
  margin-top: -50px;
  margin-bottom: 10px;
}
.btn-img {
  padding-top: 0px;
  height: 44px;
}

/* screen: cooldown */
.cooldown {
  cursor: pointer;
  text-align: center;
  width: 100%;
}
#poop_bubble {
  width: 220px;
  height: 130px;
  margin: 0px auto;
  background-image: url("/888/assets/bubble try again.svg");
  background-repeat: no-repeat;
  background-position: center;
}
#poop_text {
  width: 130px;
  float: right;
  margin-top: 40px;
  font-size: 15px;
}
#poop_sec {
  font-size: 16px;
}
#poop_sec span {
  font-family: 'WeLovePeace';
  color: #FFF;
  font-weight: normal;
}
#poop_clock {
  width: 40px;
  border-radius: 40px;
  margin-top: -180px;
  margin-left: 90px;
  border: 1px solid #fff;
}
#boredtown_og {
  width: 45px;
}
div.bonus {
  margin-top: 10px;
}
